:root {
  --color-primary: #a5d8ff;
  --color-primary-light: #d0ebff;
  --color-primary-dark: #74c0fc;
  --color-grey-light-1: #f8f9fa;
  --color-grey-light-2: #f1f3f5;
  --color-grey-dark: #343a40;
  --color-grey-1: #777;
  --color-white: #fff;
  --color-secondary: #ffd43b;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 53em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.heading-secondary {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 3.2px;
  color: var(--color-primary);
  margin-bottom: 3rem; }
  .heading-secondary::before, .heading-secondary::after {
    content: '';
    height: 1px;
    display: block;
    background-color: currentColor; }

.heading-primary {
  letter-spacing: 2.5px; }

.header {
  padding: 3rem;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: end; }
  @media only screen and (max-width: 40em) {
    .header {
      justify-content: start; } }

.side-links {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 300; }
  .side-links__item {
    position: relative; }
  .side-links__item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary-dark);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-links__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-links__link:link, .side-links__link:visited {
    color: var(--color-grey-light-2);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10; }
    .side-links__link:link span, .side-links__link:visited span {
      letter-spacing: 1.5px; }
  .side-links__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 1.6rem; }

.skills {
  list-style: none;
  font-size: 1.6rem;
  color: var(--color-grey-light-2); }
  .skills__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding: 1.5rem 3rem; }
  .skills__icon {
    width: 1.75rem;
    height: 1.75rem; }
  .skills__text {
    letter-spacing: 1.5px; }

.cv-information {
  padding: 3rem; }
  .cv-information__text {
    font-size: 1.6rem;
    line-height: 2;
    margin-bottom: 3rem; }
  .cv-information__link:link, .cv-information__link:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    color: currentColor;
    margin-bottom: 3rem; }
  .cv-information__project:link, .cv-information__project:visited {
    text-transform: uppercase;
    background-color: var(--color-primary-dark);
    color: var(--color-grey-light-2);
    padding: 1.5rem 7rem;
    border-radius: 10rem;
    letter-spacing: 1.5px;
    transition: all 0.3s;
    position: relative; }
    .cv-information__project:link:hover, .cv-information__project:visited:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .cv-information__project:link:active, .cv-information__project:visited:active {
      transform: translateY(0); }

@media only screen and (max-width: 40em) {
  .content {
    flex-direction: column; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 35%;
  padding: 3rem 0;
  background-color: var(--color-grey-dark); }

.cv-information {
  flex: 1; }

.footer {
  padding: 3rem;
  font-size: 1.6rem;
  background-color: var(--color-primary); }
